node_modules
npm-debug.log

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# Test build files
android/build-wrapper.gradle
android/local-build.gradle
android/settings.gradle
android/gradle.properties
android/gradle/
android/gradlew
android/gradlew.bat
